<html>
<head>
    <title>Shoes</title>
</head>
<body>
    <h1>Brands</h1>

    {% if brands is not empty %}
        <p>Here are all your brands:</p>
        <ul>
            {% for brand in brands %}
                <li><a href="/brands/{{ brand.getId }}">{{ brand.getName }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/brands' method='post'>
        <label for='brand'>Brand Name</label>
        <input id='brand' name='brand' type='text'>


        <button type='submit'>Add Brand</button>
    </form>
    <form action='/delete_brands' method='post'>
        <button type='submit'>Delete</button>
    </form>

    <p><a href='/'>Home</a></p>
</body>
</html>
