<html>
<head>
    <title>Shoes</title>
</head>
<body>
    <h1>Welcome Brett's Shoes</h1>

    <h3><a href="/stores">Add or view a Store</a></h3>
    <h3><a href="/brands">Add or view a Brand</a></h3>

</body>
</html>
